<p style="color: green"><%= notice %></p>

<%= render @student %>

<div class="field">
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>
  <div style="margin-top: 10px;">
    <%= button_to "Destroy this student", @student, method: :delete %>
  </div>
</div>
