<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: inline" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :unit, style: "display: inline" %>
    <%= form.number_field :unit %>
  </div>

  <div class="field">
    <%= form.label "Choose a teacher:", style: "display: inline" %>
    <%= collection_select(:subject, :teacher_id, Teacher.all, :id, :name) %>
  </div>
   <div class="not-found">
    <p><i>Teacher not found? 
      <span><%= link_to "Create now...", new_teacher_path %></span>
    </i></p>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
