<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>

<div id="subjects">
  <table>
    <thead>
      <th>Subject Name</th>
      <th>Units</th>
      <th>Teacher</th>
    </thead>
    <tbody>
       <% @subjects.each do |subject| %>
       <tr>
          <td><%= link_to subject.name, subject %></td>
          <td><%= subject.unit %></td>
          <td><%= subject.teacher.name %></td>
       </tr>
       <%end%>
    </tbody>
  </table>
</div>
<br>
<%= link_to "New subject", new_subject_path %>
