<p style="color: green"><%= notice %></p>

<%= render @subject %>

<div class="field">
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Back to subjects", subjects_path %>
  <div style="margin-top: 10px;">
    <%= button_to "Delete this subject", @subject, method: :delete %>
  </div>
 
</div>
