<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label "Choose a subject: ", style: "display: inline" %>
    <%= collection_select(:course, :subject_id, Subject.all, :id, :name) %>
 </div>

  <div class="not-found">
      <p><i>Subject not found? 
        <span><%= link_to "Create now...", new_subject_path %></span>
      </i></p>
  </div>

  <div class="field">
    <%= form.label :student_id, style: "display: inline" %>
    <%= collection_select(:course, :student_id, Student.all, :id, :name) %>
  </div>

  <div class="not-found">
    <p><i>Student not found? 
      <span><%= link_to "Create now...", new_student_path %></span>
    </i></p>
  </div>


  <div style="margin: 10px;">
    <%= form.submit "Enrol Student"%>
  </div>
<% end %>
