<p style="color: green"><%= notice %></p>

<h1>Enrollment</h1>
<h4>List of Courses: </h4>
<div id="courses">
  <ul>
    <% @subjects.each do |subject| %>
    <li>
      <b><%=subject.name%></b>
        <table>
          <th>
            <tr>
              <td>Name of Student</td>
              <td>Year Level</td>
            </tr>
          </th>
          <tbody>
              <% @courses.each do |course| %>
              <% if course.subject_id == subject.id %>
              <tr>
                <td>  <%= course.student.name %> </td>
                  <td>  <%= course.student.year_level %> </td>
              </tr>
              <% end %> 
              <% end %> 
          </tbody>
        </table>
        <i><%= link_to "Enroll a student in this course...", new_course_path %></i>
    </li>
    <% end %> 
  </ul>
</div>


