<p style="color: green"><%= notice %></p>

<%= render @course %>
<div class="field">
  <%= link_to "Edit enrollment details", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <div style="margin-top: 10px;">
    <%= button_to "Unenrol student", @course, method: :delete %>
  </div>
</div>
